<div class="col-12 px-0 mt-md-5 mt-2">
  <div class="col-md-6 col-12 mx-auto">
    <h1 class="title-homepage text-uppercase text-center">
      Currency converter
    </h1>
    <h3 class="justify-content-center d-flex align-items-center">
      <div class="px-2">by</div>
      <img src="../../assets/adyen-logo.png" style="height: 40px" />
    </h3>

    <h2 class="text-center mt-5">
      {{ sourceCurrency }} to {{ targetCurrency }}
    </h2>

    <div class="col-12 px-0 flex-wrap d-flex justify-content-between mt-4">
      <div class="col-5 px-0">
        <block-currency
          [currency]="sourceCurrency"
          [amount]="sourceAmount"
          [allCurrencies]="allCurrencies"
          (currencyChanged)="updateSourceCurrency($event)"
          (amountChanged)="updateSourceAmount($event)"
        ></block-currency>
      </div>

      <div class="col-2 px-0 d-flex justify-content-center">
        <div class="swap p-3" style="height: 57px">
          <img src="../../assets/icon_swap_white.svg" style="height: 25px" />
        </div>
      </div>

      <div class="col-5">
        <block-currency
          class="col-5 px-0"
          [currency]="targetCurrency"
          [amount]="targetAmount"
          [allCurrencies]="allCurrencies"
          (currencyChanged)="updateTargetCurrency($event)"
          (amountChanged)="updateTargetAmount($event)"
        ></block-currency>
      </div>
    </div>

    <div class="mt-3 text-center" *ngIf="isLoading">Loading...</div>
    <div class="mt-3 text-center">{{ errorMessage }}</div>
  </div>
</div>
